h1{color:rgb(161, 147,194); font-family:Bookman old style; background-color:rgb(231,165,183)}
h2{color:rgb(167,185,198); font-family:Bookman old style;}
p{background-color:color:rgb(231, 165, 183); color:white; font-family:Bookman old style;}
s{color:white